header {
    z-index: 2;

    .container {
        display: grid;
        grid-template-columns: 15% 65% 20%;
        height: 100%;

        .logo {
            height: 100%;
            width: 100%;

            img {
                width: 100%;
                height: 100%;
                padding: 0.5em;
            }
        }

        .resnavicon {
            display: none;
        }

        .nav {
            display: flex;
            align-items: center;
            margin-right: 2em;

            .dropdown {


                img {
                    cursor: pointer;
                }

                .dropdown-content {
                    display: none;
                    position: absolute;
                    top: 4em;
                    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                    z-index: 1;
                    min-width: 160px;

                    .navline {
                        height: 1px;
                        background-color: #0E994A;

                    }

                    a {
                        display: block;
                        text-align: center;
                        padding: 1.5em;
                        transition: 500ms;

                        &.active {
                            border: none;
                        }
                    }

                    a:hover {
                        background-color: rgba(10, 141, 67, 0.2);
                        border: 1px solid #0A8D43;
                        color: #0A8D43;
                    }
                }
            }

            .dropdown:hover {
                display: block;
                z-index: 10;

                .dropdown-content {
                    display: block;
                    z-index: 10;
                }
            }

            a {
                padding: 0.5em 1.2em;

                &.active {
                    border-bottom: 4px solid #0E994A;
                    padding-bottom: 0.2em;
                }
            }

        }


        .enter {
            display: flex;
            align-items: center;
            justify-content: flex-end;

            button {
                background-color: #0E994A;
                color: white;
                padding: 0.7em 2em;
                border-radius: 4px;
                border: none;
                font-size: 16px;
                cursor: pointer;
                transition: 500ms;
            }

            button:hover {
                background-color: rgba(10, 141, 67, 0.2);
                border: 1px solid #0A8D43;
                color: #0A8D43;
            }

        }
    }
}

@media only screen and (max-width: 992px) {
    header {
        position: fixed;
        width: 100%;
        background-color: white;
        box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.2), 0 6px 5px 0 rgba(0, 0, 0, 0.19);

        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;

            .logo {

                img {
                    height: 100%;
                    width: 20%;
                }
            }

            .resnavicon {
                display: block;
            }

            .nav {
                display: none;
            }

            .enter {
                display: none;
            }
        }
    }
}