section.home {
    margin-top: 0.5em;

    .container1 {
        width: 90%;
        margin: 0 auto;

        .imgtext {
            display: flex;
            height: 60vh;
            margin-top: 3em;

            .img {
                margin-right: 3em;
                width: 40%;

                img {
                    height: 100%;

                }
            }

            .text {
                width: 60%;
                margin: 0 auto;

                .cap {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    width: 90%;
                    margin: 0 auto;

                    h1 {
                        color: #0F6333;
                        padding: 1em 0;
                    }

                    p {
                        padding: 0 1em;
                        line-height: 28.17px;
                    }



                    .btns {
                        margin: 2em 0;

                        button {
                            padding: 0.7em 2em;
                            border-radius: 4px;
                            border: none;
                            font-size: 16px;
                            cursor: pointer;
                        }

                        .first-btn {
                            color: #0E994A;
                            background-color: white;
                            margin: 0 0 0 5em;
                        }

                        .second-btn {
                            background-color: #0E994A;
                            color: white;
                        }
                    }

                    .numcount {
                        display: flex;

                        h4 {
                            color: #0E994A;
                            text-align: center;
                            padding: 0.5em;
                            margin: 0 0.5em;
                        }
                    }
                }
            }
        }
    }

    .cards {
        background-image: url(../../img/homesectionimg/homebg1.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;

        .card {
            border: 1px solid #0E994A;
            border-radius: 14px;
            height: 70%;
            width: 17%;
            margin: 1em;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            img,
            h4,
            p {
                padding: 0.8em 1em;
            }

            p {
                text-align: center;
                line-height: 21.91px;
            }
        }
    }

    .howtojoin {
        margin: 2em 0;
        display: flex;
        align-items: center;

        .howtext {
            width: 50%;

            h1 {
                padding: 1em 0;
            }

            p {
                line-height: 28.17px;
                text-align: justify;
                padding: 1em 0 1em 4em;
            }

            button {
                color: white;
                background-color: #0E994A;
                padding: 1em 3em;
                border-radius: 8px;
                border: none;
                font-size: 16px;
                cursor: pointer;
                margin-top: 1em;
            }
        }

        .kaaryarimg {
            width: 50%;
            display: flex;
            justify-content: flex-end;
        }
    }

    .kaaryareducation {
        background-image: url(../../img/homesectionimg/edukaaryarbg.png);
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 5em;

        .headtext {
            text-align: center;
            font-size: large;
        }

        .items {
            width: 90%;
            margin: 5em auto;
            display: grid;
            grid-template-columns: repeat(2, 1fr);

            .item {
                border: 1px solid #0E994A;
                border-radius: 14px;
                background: #FFFFFF;
                margin: 3em;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .details {
                    padding: 3em;

                    h4 {
                        margin: 1em 0 0 0;
                    }

                    p {
                        padding: 1em 0 1.5em 2em;
                    }

                    ul {
                        padding-right: 1em;
                    }

                }

                .detailbtn {
                    background-color: #0E994A;
                    color: #FFFFFF;
                    text-align: center;
                    cursor: pointer;
                    width: 100%;
                    border-radius: 0 0 14px 14px;

                    h3 {
                        padding: 2em;

                    }
                }
            }
        }
    }

    .studentcoments {
        margin-bottom: 3em;

        .headtext {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .chngicon {
            display: flex;
        }

        .students {
            display: flex;
            margin: 2em 0;

            .student {
                .coments {
                    border: 1px solid #0E994A;
                    border-radius: 14px;
                    padding: 1em 0.5em;
                    margin-left: 1em;

                    .bio {
                        display: flex;
                        align-items: center;

                        .studentpic {
                            margin-left: 1em;

                            img {
                                border-radius: 100%;
                            }
                        }
                    }

                    .coment {
                        display: flex;

                        .comenticon {
                            padding: 0.5em 0.5em 1em 1em;
                        }

                        p {
                            margin-top: 1em;
                        }
                    }
                }
            }
        }
    }

    .mentors {
        .headmentor {
            h2 {
                margin: 2em 0;
            }
        }

        .bodymentor {
            width: 100%;
            height: 100vh;
            background-image: url(../../img/homesectionimg/mentorBg.png);
            background-size: cover;
            display: grid;
            grid-template-columns: 30% 40% 30%;

            .mentor2 {
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    width: 45%;
                    border-radius: 100%;
                }
            }

            .mentor1 {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;

                h4 {
                    margin: 1em 0;
                }

                p {
                    margin: 1em 0;
                }

                .pcaption {
                    width: 75%;
                    border: 1px solid #0E994A;
                    border-radius: 14px;
                    background-color: #FFFFFF;
                    padding: 2.5em 1em;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.16);

                    p {
                        line-height: 28px;
                        padding: 0.5em;

                        .span1 {
                            margin-left: 1em;
                        }

                        .span2 {
                            margin-right: 1em;
                        }
                    }

                    img {
                        transform: rotate(180deg);
                        width: 5%;
                        border: none;
                    }

                }

                img {
                    width: 40%;
                    border-radius: 100%;
                    border: 8px solid #0E994A;
                }

                .navmentor {
                    display: flex;
                    align-items: center;

                    a {
                        margin: 0.2em;
                        padding: 1em 0;

                        img {
                            border: none;
                            border-radius: none;
                            width: 100%;
                        }
                    }
                }

                button {
                    color: #FFFFFF;
                    background: #0E994A;
                    border: none;
                    border-radius: 8px;
                    padding: 0.7em 2em;
                    font-size: larger;
                    cursor: pointer;
                }
            }

            .mentor3 {
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    width: 50%;
                    height: 30%;
                    border-radius: 100%;
                }
            }
        }
    }

    .news {
        margin-top: 5em;

        .headnews {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 2em;

            a {
                color: #0E994A;
            }
        }

        .bodynews {
            display: grid;
            grid-template-columns: repeat(3, 1fr);

            .newscard {
                height: 100%;
                border: 1px solid #0E994A;
                border-radius: 14px;
                padding: 2em 3em;
                margin-left: 1em;

                .newsimg {
                    width: 100%;
                    margin-bottom: 1em;

                    img {
                        width: 100%;
                        border-radius: 16px;
                    }
                }

                .newsdetial {
                    text-align: right;
                    margin: 1em 0;

                    h3 {
                        margin-bottom: 1em;
                    }
                }

                .readmore {
                    margin: 2em 0;
                    text-align: center;

                    a {
                        color: #0E994A;
                    }
                }
            }
        }
    }

    .volunteer {
        height: 105vh;
        display: grid;
        grid-template-rows: 1fr 2fr 1fr;
        margin-top: 2em;
        margin-bottom: 2em;

        .volhead {
            text-align: center;
            padding: 2em 0;
        }

        .volbody {

            .slidshow {
                display: grid;
                grid-template-columns: 1fr 8fr 1fr;

                .slidiconright {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    padding: 0 0 0 1em;
                }

                .slidiconleft {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    padding: 0 1em 0 0;
                }

                .slidmainpic {

                    img {
                        width: 100%;
                    }
                }
            }

            .navslid {
                display: flex;
                justify-content: center;
                align-items: center;

                a {
                    padding-right: 0.2em;
                }
            }
        }

        .volcap {
            text-align: center;

            p {
                padding: 1em 0;
            }

            a {
                color: #0E994A;
            }
        }
    }

    .institutions {
        margin-top: 3em;

        .headinstitutions {
            display: flex;
            justify-content: space-between;
            align-items: center;

            button {
                color: #FFFFFF;
                background: #0E994A;
                border-radius: 8px;
                padding: 1em 3em;
                border: none;
                cursor: pointer;
            }
        }

        .bodyinstitutions {
            height: 90vh;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 1.5em;
            text-align: center;
            margin-top: 2em;

            .institution {
                display: grid;
                grid-template-rows: 70% 30%;
                padding: 0.5em;
                border: 1px solid #0E994A;
                border-radius: 14px;

                .inspic,
                .insname {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                }


            }

        }

        .seemore {
            margin: 0.5em 0 2em 0;
            display: flex;
            justify-content: center;
            align-items: center;

            button {
                color: #0E994A;
                background-color: #FFFFFF;
                border: 2px solid #0E994A;
                border-radius: 8px;
                padding: 1em 3em;
                cursor: pointer;
            }
        }
    }

    .jobroad {
        height: 85vh;
        margin-bottom: 2em;
        background-image: url(../../img/homesectionimg/roadwaybg.png);
        background-repeat: no-repeat;
        background-size: contain;
        display: grid;
        grid-template-rows: repeat(4 , 1fr);

        .headroad {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .icons {
            width: 80%;
            margin: 0 auto;
            display: grid;
            grid-template-columns: repeat(3 ,1fr);
            color: #FFFFFF;
            

            .user , .student , .coins {
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    margin-left: 1em;
                }
            }
        }

        .jobroadbtn {
            display: flex;
            justify-content: center;
            align-items: center;

            button {
                padding: 1.5em 3.5em;
                border-radius: 8px;
                color: #0E994A;
                border: none;
                background-color: #FFFFFF;
            }
        }

        .roadcap {
            display: flex;
            justify-content: center;
            align-items: center;

            a {
                color: #FFFFFF;
                text-decoration: underline;
            }
        }
    }
}