.cooperation {

    .memberofkaaryar {
        background-image: url(../../img/cooperation/background.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        width: 100%;

        .container {
            h1 {
                color: #0E994A;
                padding: 1em 0;
            }

            p {
                width: 60%;
                line-height: 28px;
                padding: 1em 0;
            }

            button {
                padding: 1em 3em;
                background-color: #0E994A;
                color: white;
                border: none;
                border-radius: 4px;
                margin-top: 2em;
            }
        }
    }

    .coopcards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-top: 2em;
        gap: 1em;

        .coopcard {
            display: grid;
            grid-template-rows: 1fr 2fr 1fr;
            border: 1px solid #0E994A;
            border-radius: 14px;
            text-align: center;

            .icon-name {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 1em 0;

                h3 {
                    padding: 0 1em;
                    color: #0E994A;
                }
            }

            .coopcarddetail {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                p {
                    padding: 1.5em;
                    text-align: center;
                }

            }

            button {
                background: #0E994A;
                color: white;
                border: none;
                border-radius: 4px;
                padding: 1em 3em;
                margin: 1em;
            }
        }
    }

    .cooptext {
        margin-top: 1.5em;
        margin-bottom: 2em;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .coopform {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 65%;

        .mobileform , .mobileformbtn {
            display: none !important;
        }

        .form {
            padding: 0 1em;

            input,
            textarea {
                width: 100%;
                border-radius: 14px;
                padding: 0.5em 1em;
                margin: 1em 0;
                border: 1px solid #AAA7A7;

            }

            input:focus,
            textarea:focus {
                outline: none !important;
                border: 1px solid #0E994A;
            }

            .sameres {
                height: 200px;
                padding: none;
            }

            .formbtn {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 250px;

                button {
                    background-color: #0E994A;
                    color: white;
                    padding: 1em 9em;
                    border: none;
                    border-radius: 4px;
                }
            }

        }
    }

    .contact {
        background-image: url(../../img/cooperation/contactbg.png);
        background-repeat: no-repeat;
        background-size: contain;
        margin-top: 5em;
        margin-bottom: 3em;

        h1 {
            text-align: center;
            margin-bottom: 3em;
        }

        .contactcards {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 1em;


            .contactcard {
                height: 250px;
                background-color: white;
                border: 1px solid #0E994A;
                border-radius: 14px;
                display: grid;
                grid-template-rows: 1fr 1fr;
                text-align: center;

                .icon-text {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 1em 0 0;

                    h3 {
                        padding: 0 0.5em 0 0;
                        color: #0E994A;
                    }
                }

                p {
                    padding: 0.5em;
                }

                .address {
                    width: 80%;
                    margin: 0 auto;
                }

                a.linkedin {
                    display: block;
                }
            }
        }
    }
}

@media only screen and (max-width: 992px) {
    .cooperation {

        .memberofkaaryar {
            margin-top: 5em;
        background-size: contain;

            .container {

                p {
                    width: 55%;
                }
            }
        }

        .coopcards {
            grid-template-columns: repeat(2, 1fr);
        }

        .cooptext {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80%;
            text-align: center;
        }

        .coopform {

            .mobileform , .mobileformbtn {
                display: none;
            }

            .formbtn {

                button {
                    padding: 1em 7em !important;
                }
            }
        }

        .contact {

            .contactcards {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .cooperation {

        .memberofkaaryar {
            margin-top: 3em;
            background-size: contain;

            .container {
                text-align: center;

                h1 {
                    text-align: right;
                }

                p {
                    margin-top: 15em;
                    width: 100%;
                }


            }
        }

        .coopcards {
            margin-top: 5em;
            grid-template-columns: 1fr;

        }

        .coopform {
            grid-template-columns: 1fr;
            width: 100%;
            padding: 0 1em;

            .rightform,
            .leftform {
                display: none;
            }

            .mobileform , .mobileformbtn {
                display: block !important;
            }

            .mobileformbtn {
                margin: 1em 0;
                text-align: center;

                button {
                    background-color: #0E994A;
                    color: white;
                    padding: 1em 9em;
                    border: none;
                    border-radius: 4px;
                }

            }
        }

        .contact {
            background-image: none;
            .contactcards {
                grid-template-columns: 1fr;
            }
        }
    }
}