section.EducationCourses {
    .container {
        p {
            margin-top: 1em;
        }

        .courseimg,
        .backendroadmap {
            display: flex;
            justify-content: center;
            margin: 2em 0;
        }

        h1 {
            color: #0E994A;
            text-align: center;
            margin: 2em 0;
        }
    }

    .backendroadmapcards {

        .roadmapcard {
            width: 85%;
            margin: 0 auto 1em;
            border: 1px solid #0E994A;
            border-radius: 14px;
            padding: 1em 2em;


            .backendhead {
                display: flex;
                align-items: center;
                margin: 1em 0;

                h2 {
                    color: #0E994A;
                    margin-right: 1em;
                }

                img {
                    width: 5%;
                }
            }

            .backendcap {
                margin: 1em 0;
                line-height: 28px;
            }

            .greenline {
                background: linear-gradient(180deg, #0E994A 0%, #10A751 43.23%, #14CA62 100%);
                height: 10px;
                margin: 1em 0;
            }

            .backenddetail {
                margin: 1em 0;

                span {
                    color: #0E994A;
                }
            }
        }
    }

    .otherheader {
        h1 {
            margin: 1.5em 0;
            color: #0E994A;
            text-align: center;
        }
    }

    .othercoursecards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0.5em;
        margin-bottom: 2em;

        .othercoursecard {
            border: 1px solid #0E994A;
            border-radius: 14px;
            display: flex;
            flex-direction: column;

            .otherhead,
            .othercap,
            .otherdetail {
                padding: 0.5em 1em;
                height: 100%;
            }

            .otherdetail {

                ul {
                    padding: 0 1em;

                    li {
                        padding: 0.5em 0;
                        font-size: 1em;
                        color: #0E994A;

                        span {
                            color: black;
                        }
                    }
                }
            }

            .otherseecours {
                background-color: #0E994A;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 0 0 14px 14px;

                h3 {
                    padding: 1.5em 1em;
                }
            }
        }
    }
}

@media only screen and (max-width: 992px) {
    section.EducationCourses {
        .container {
            margin-top: 6em;
            
            .courseimg {
                width: 100%;
                img {
                    width: 100%;
                }
            }

            .backendroadmap {
                width: 100%;
                img {
                    width: 100%;
                }
            }
        }

        .backendroadmapcards {

            .roadmapcard {

                .backendhead {
                    img {
                        width: 10%;
                    }
                }
            }
        }

        .othercoursecards {
            grid-template-columns: repeat(2 ,1fr);
        }
    }
}

@media only screen and (max-width: 600px) {
    section.EducationCourses {

        .backendroadmapcards {

            .roadmapcard {

                .backendhead {
                    img {
                        width: 15%;
                    }
                }
            }
        }

        .othercoursecards {
            grid-template-columns: 1fr;
        }
    }
}